.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    justify-content: center;

}
.headerLeft Button{
    margin-left: 620px;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    transition-property: width;
}

a > span:hover {
    color: red;
    transition-delay: 0.4s; 
    width: 300px;
}

.header__icon {
    width: 185px;
    height:100px;   
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

