.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    justify-content: center;

}
.headerLeft Button{
    margin-left: 620px;
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    transition: height 0.5s,width 0.5s, color 0.5s;
    display: inline-block;
}

a > span:hover {
   
    color: red;
    height: 40px;
    /* width: 100px; */
}

.header__icon {
    width: 185px;
    height:100px;   
    cursor: pointer;
    border-radius: 90%;
    border-bottom: 80px;
    block-size: 90px;
}

.user__avatar {
    font-size: 2rem;
}

